.title {
    text-align: center;
    color: #1877f2;
}

.employee-box {
    border: 2px solid #f0e8e8;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.emp-name {
    font-weight: bold;
    color: rgb(173, 50, 230);
}

.emp-id {
    color: gray;
}

.emp-role {
    color: green;
}

.emp-salary {
    color: darkred;
}
